#
# echo $(pwgen -s 32 4)
# https://randomkeygen.com/

# MySQL
MYSQL_ROOT_PASSWORD=secure_root_password
MYSQL_PASSWORD=secure_password
MYSQL_USER=wp_user
MYSQL_DATABASE=wp_db

# SMTP settings
SMTP_DISABLE=false
SMTP_USER=no-reply@domain.com
SMTP_FROM=My WordPress Site
SMTP_PASS=app_pass_key
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_AUTH=1
SMTP_SEC=tls

# Redis settings
WORDPRESS_WP_CACHE_KEY_SALT=random_salt_key

# Site settings
DOMAIN_NAME=mysite.com
SITE_LABEL=mysite_wp
