# Site settings
SITE_LABEL=mysite_wp

# Generate random keys using: https://randomkeygen.com/
# Or using the teminal command: `pwgen -s 32 2`

# MySQL
MYSQL_ROOT_PASSWORD=secure_root_password
MYSQL_PASSWORD=secure_password
MYSQL_USER=wp_user
MYSQL_DATABASE=wp_db

# SMTP settings for https://wordpress.org/plugins/simple-smtp/
SMTP_DISABLE=false
SMTP_USER=no-reply@domain.com
SMTP_FROM=My WordPress Site
SMTP_PASS=app_pass_key
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_AUTH=1
SMTP_SEC=tls

# Redis settings for https://wordpress.org/plugins/redis-cache/
WORDPRESS_WP_CACHE_KEY_SALT=random_salt_key-za3NtBSPTSbk

# OAuth settings for https://wordpress.org/plugins/login-with-google/
WP_GOOGLE_LOGIN_CLIENT_ID=
WP_GOOGLE_LOGIN_SECRET=

# Authentication unique keys and salts
# Generate `.env` and `wp-config.php` salts: `docker compose exec wp generate-salts`
# Or from WordPress from `wp-config.php`: `curl -s https://api.wordpress.org/secret-key/1.1/salt/`
WORDPRESS_AUTH_KEY=randomed-generated-key-04e2bb8c5a51f8c47
WORDPRESS_SECURE_AUTH_KEY=randomed-generated-key-29e72be681db2ca7c
WORDPRESS_LOGGED_IN_KEY=randomed-generated-key-d524cc21b72c2c766
WORDPRESS_NONCE_KEY=randomed-generated-key-238311da1c87ab53f
WORDPRESS_AUTH_SALT=randomed-generated-key-6e09dfeda7fbc42b1
WORDPRESS_SECURE_AUTH_SALT=randomed-generated-key-346e65c6e83b8b3c3
WORDPRESS_LOGGED_IN_SALT=randomed-generated-key-bb3295a7cf9f6527b
WORDPRESS_NONCE_SALT=randomed-generated-key-a5763f7fc2aa38f79
